* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Host Grotesk;
  background: linear-gradient(90deg, #FFF9FF, #F5F8FF, #E0E8FF, #FEFFFB);
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background: linear-gradient(195deg, #D8E4FF1A, #EEFFE217, #FDDEFF17, #FFEDED, #FFD5D51C);
  border-bottom: 1px solid #E2E2E2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.34);
  padding: 10px;
  text-align: center;
}

header img {
  width: 150px;
  height: 50px;
  margin-left: -270px;
}

.chat-container {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-family: Lexend Giga, sans serif;
}

.message.received {
  align-self: flex-start;
  background: #E0E8FF;
  color: #000;
}

.message.sent {
  align-self: flex-end;
  background: #004AFF;
  color: #FFF;
}

footer {
  background: #FFF;
  padding: 10px;
  border-top: 1px solid #E2E2E2;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 12px;
  outline: none;
}

.chat-input input:focus {
  border-color: #2351CB;
  box-shadow: 0 0 15px #4789F34A;
}

.chat-input button {
  width: 50px;
  height:50px;
  border: none;
  background: #024CFF;
  color: #FFF;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.3s;
}

.chat-input button:hover {
  background: #0035B0;
  border: 2px solid #004DFF;
  transition: 0.5s;
  -webkit-tap-highlight-color: transparent
}

/* Animação de bolinhas */
.loading-animation {
  display: none;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #555;
  position: center;
}

@keyframes typing {
  0% {
    content: "•••";
    transition:0.5s;
    color:#B6B6B6;
  }
  25% {
    content: "°••";
    transition:0.5s;
    color:#535353;
  }
  50% {
    content: "•°•";
    transition:0.5s;
    color: #A2A2A2;
  }
  75% {
    content: "••°";
    transition:0.5s;
    color:#A19C9C;
  }
  100% {
    content: "•••";
    transition:0.5s;
    color: #DFDFDF;
  }
}

.loading-animation::after {
  content: "•••";
  animation: typing 0.7s infinite;
}

/* Estilo do texto vazio */
.empty-text {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #555555;
}
/* Animação para o fade de mensagens */
.message {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.message.show {
  opacity: 1;
}



/* Estilos padrões */
body {
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo claro */
.light-mode {
  background-color: #fff;
  color: #000;
}

/* Modo escuro */
.dark-mode {
  background-color: #121212;
  color: #fff;
}